<!doctype html>
<html lang=en>
  <head>
    <title>Heippalaput</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
  </head>
  <body>
  	<p>
  		{% if user.username %}
	  		{% if user.username  %}
	  		Logged in with username: <b>{{ user }}</b>
	  		{% endif %}
	  		</br>
	  		<a href="/"> Home </a> |
	  		<a href="/note/add"> Add note  </a> |   
	  		<a href="/listnotes"> View notes  </a> |    
	 		<a href="/listcategories"> List categories  </a> | 
	  		<a href="/admin"> Admin  </a>|
		  	
		  	{% if user.username  %}
		  	  	<a href="/logout"><b>Logout {{user}}</b> </a>
		  	{% else %}
		  		<a href="/register"> <b> Register <b> </a>
		  	{% endif %}
		{% else %}
			Please log in
	  	{% endif %}
  	</p>
  	</br>
  	
  	
  	


  	
   {% block "content" %}
     <h1>Welcome to Heippalaput! </h1>
     <p>	
	    <button> <a href="note/add"> Add note  </a> </button>
	     <button> <a href="listnotes"> View notes  </a> </button>    
<!--	     <a href="listpersons"> List persons  </a> -->
     </p>
   {% endblock "content" %}
  </body>
</html> 
