{% extends "notes/base.html" %}


{% block "content" %}
  <h3>Heippalaput</h3>

  <p>
    <button><a href="note/add"> Add note </a></button>
  </p>

  {% for object in  object_list %}

    <p>	Note subject: 
    	<b> {{ object.subject }}  </b> 
      
      {% if user == object.owner %}      
      	<button><a href='note/{{ object.pk }}/edit'>Edit</a> </button>
      {% endif %}     
      <br>  
      {% if object.category %}    
	      Category: 
	      <b>{{ object.category }} </b>
      {% endif %}
	</p>
	
	<p>	
      Message:
      {{ object.message }}    
    </p>

  {% endfor %}
{% endblock "content" %}


